*{
    box-sizing:border-box; /*Include margin and padding in width*/
}


/*Define the font family of the page*/
html, body{
            font-family:verdana;
           
}

.slide{
    width|:100%;
}

.container{
           max-width:800px;
           border:1px solid gainsboro;
           text-align: center;
           box-shadow:2px 4px 5px;
           background:pink;
           
}

.ratings-container{
           display:flex; /*Create a flex container*/
           flex-wrap:nowrap;
           gap:40px;
           justify-content:center;/*Center the flex container*/
           width:800px;
           margin:60px auto;
}
button{
          border:none;/*Remove button border*/
          padding:12px;
          font-weight:bold;
          background:rgb(345, 233, 200);
          font-weight: 900;
}


.rating{
      display:flex;
      flex-direction:column;
      gap:34px;
      cursor:pointer;

}

.rating:hover,
.rating.active
{
        background:skyblue;
        box-shadow:2px 1px 3px;
        border-radius:12px;
}
.small{
      font-size:19px;
      font-weight:100px;
      border-left:2px solid black;
      padding:10px;
      color:white;
      background:black;
}
.page-container{
             display:flex;
             justify-content:center;
             margin-top:17px;
             
             width: 100%;

}
#time{
    font-weight:900;
    color:#FFFFFF;
}


.top-title{
        font-size:44px;
        
        text-transform:uppercase; 
        font-weight:900;
        text-align:center;   
        flex:1; 
}

a{
    text-decoration:none;
    color:black;
}
a:hover{
         background:green;
         padding:10px;
         transition:1s;
         
}
.pic{
     display:none;
     margin:auto;
     
     padding:14px;
}
.bold{
       font-weight:900;
       font-size:22px;
       font-family: 'Satisfy', cursive;
       
}
.name{
    font-weight:900;
    text-transform: uppercase;
   
}
header{
       display: flex;
        justify-content:center;
        align-items: center;
       padding:5px;
        top:0;
        position:sticky;
        background-color: pink;
}

.heading{
       font-size:19px;
       background:#FFFFFF;
       padding:11px;
       width:600px;
       margin:10px auto;
       box-shadow:2px 3px 4px black;
       text-align:center;
       
       
}

.btn{
     border:none;
     background:seagreen;
     color:#FFFFFF;
     padding:18px;
     font-size:23px;
     margin:43px auto;
     width:300px;
}
.btn:hover{
        box-shadow:2px 1px 2px black;
        transition:0.3s;
       
}
img{
    display:block;
}