*{
    box-sizing:border-box;
}



html, body{
            font-family:verdana;
}



.container{
           max-width:800px;
           border:1px solid gainsboro;
           text-align: center;
           box-shadow:2px 4px 5px red;
           background:pink;
}

.ratings-container{
           display:flex;
           flex-wrap:nowrap;
           gap:40px;
           justify-content:center;
           width:800px;
           margin:auto;
}
.rating{
      display:flex;
      flex-direction:column;
      gap:34px;

}
.title{
        
}




.heading{
       font-size:45px;
       
       
}

.btn{
     border:none;
     background:seagreen;
     color:#FFFFFF;
     padding:18px;
     font-size:23px;
     margin:43px auto;
     width:300px;
}