*{
    box-sizing:border-box; /*Include margin and padding in width*/
}


/*Define the font family of the page*/
html, body{
            font-family:verdana;
            
           
}

.slider{
    width:900px;
}

.container{
           max-width:800px;
           border:1px solid gainsboro;
           text-align: center;
           box-shadow:2px 4px 5px;
           background:pink;
           
}

.ratings-container{
           display:flex; /*Create a flex container*/
           flex-wrap:nowrap;
           gap:40px;
           justify-content:center;/*Center the flex container*/
           width:800px;
           margin:60px auto;
           
}
.section{
    position:relative;
    max-width:900px;
   
}

button{
          border:none;/*Remove button border*/
          padding:12px;
          font-weight:bold;
          background:rgb(345, 233, 200);
          font-weight: 900;
          width:200px;
}


.rating{
      display:flex;
      flex-direction:column;
      gap:34px;
      cursor:pointer;

}

.rating:hover,
.rating.active
{
        background:skyblue;
        box-shadow:2px 1px 3px;
        border-radius:12px;
}
.small{
      font-size:19px;
      font-weight:100px;
      border-left:2px solid black;
      padding:10px;
      color:white;
      background:black;
      cursor: pointer;
}
.page-container{
             display:flex;
             justify-content:center;
             margin-top:17px;
            min-height:1350px;
             width: 100%;

}


.top-title{
        font-size:44px;
        text-shadow:2px 3px 3px black;
        text-transform:uppercase; 
        font-weight:900;
        text-align:center;   
        flex:1; 
}

a{
    text-decoration:none;
    color:black;
}
a:hover{
         background:green;
         padding:10px;
         transition:0.5s;
         
}
.pic{
     display:none;
     padding:14px;
}
.pic img{
    width:100%;
    outline:10px solid white;
}

.pic-txt{
    margin-top:30px;
    font-size:20px;
    font-weight:900;
    text-transform:uppercase;
}
.bold{
       font-weight:900;
       font-size:32px;
       font-family: 'Satisfy', cursive;
       color:red;
       font-style:oblique;
       
}
.name{
    font-weight:900;
    text-transform: uppercase;
    border-left:2px solid black;
    padding:3px;
   
}
header{
       display: flex;
        justify-content:center;
        align-items: center;
       padding:5px;
        top:0;
        position:sticky;
        background-color: pink;
        box-shadow: 2px 3px 4px black;
        z-index: 1;
}
.logo{
       margin-left:50px;
}
.heading{
       font-size:19px;
       background:beige;
       padding:11px;
       width:600px;
       margin:10px auto;
       box-shadow:2px 3px 4px black;
       text-align:center;
       
       
}
.burger{
    color:#FFFFFF;
    background-color: black;
    padding:12px;
    margin-top:20px;
}
.chef{
        display:flex;
        flex-direction: column;
        align-items: center;
}

.chef img{
           
}


.btn{
     border:none;
     background:seagreen;
     color:#FFFFFF;
     padding:18px;
     font-size:23px;
     margin: 0 auto;
     top:0;
     width:300px;
}
.btn:hover{
        box-shadow:2px 1px 2px black;
        transition:0.3s;
       
}
img{
    display:block;
}

footer{
         background:pink;
         text-align:center;
         font-size:17px;
         font-weight:900;
         padding:16px;
         text-transform: capitalize;
         margin-top:12px;
}


