*{
    box-sizing:border-box;
}



html, body{
            font-family:verdana;
            
}

.slide{
    width|:100%;
}

.container{
           max-width:800px;
           border:1px solid gainsboro;
           text-align: center;
           box-shadow:2px 4px 5px;
           background:pink;
}

.ratings-container{
           display:flex;
           flex-wrap:nowrap;
           gap:40px;
           justify-content:center;
           width:800px;
           margin:auto;
}
.rating{
      display:flex;
      flex-direction:column;
      gap:34px;
      cursor:pointer;

}

.rating:hover,
.rating.active
{
        background:skyblue;
        box-shadow:2px 1px 3px;
        border-radius:12px;
}

.page-container{
             display:flex;
             justify-content:center;

}



.title{
        
}

a{
    text-decoration:none;
    color:black;
}
a:hover{
         background:green;
         padding:10px;
         transition:1s;
         
}


.heading{
       font-size:45px;
       
       
}
#myform{
    background-color:#FFFFFF;
    padding:12px;
}
.btn{
     border:none;
     background:seagreen;
     color:#FFFFFF;
     padding:18px;
     font-size:23px;
     margin:43px auto;
     width:300px;
}
.btn:hover{
        box-shadow:2px 1px 2px black;
        transition:0.3s;
       
}
img{
    display:block;
}